@charset "UTF=8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

:root {
    --fonte-header:'Merriweather', serif;
    --fonte-titulo:'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.titulo, .containerr {
    padding: 0 20px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #BCBABA 5.65%, rgba(217, 217, 217, 0) 155%);
    width: 100vw;
}

.header h1 {
    padding: 5px;
    font-family: var(--fonte-header);
    font-weight: 600;
}

.header img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}



/*cards*/

.titulo {
    font-family: var(--fonte-titulo);
    font-weight: bold;
}

.titulo::after {
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background-color: gray;
} 

.titulo-bone {
    margin-bottom: 35px;
}

.containerr {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(180deg, #BCBABA 5.65%, rgba(217, 217, 217, 0) 155%);
    color: #242329;
    text-align: center;
    border: 5px solid #fff;
    overflow: hidden;
}
.card__data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-250px);
    transition: transform .5s;
}
.card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s .35s;
}
.card__title {
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    background-color: #242329;
    margin-top: 25px;
}
.card__description {
    padding: 10px;
    margin-bottom: 15px;
}
.card__btn {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #242329;
    background-color: #fff;
    transition: background-color .25s;
}
.card__btn:hover {
    background-color: #242329;
    color: #fff;
}
.card:hover .card__data {
    transform: translateY(0px);
}
.card:hover .card__img {
    transform: translateX(250px);
    transition-delay: 0s;
}



/* Camisas polo seção*/

.titulo-polo {
    margin-top: 50px;
    margin-bottom: 35px;
}

.card-camisa-polo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color:#BCBABA;
    padding: 20px 10px;
    border-radius: 10px;
}

.card-camisa-polo-descri {
    max-width: 400px;
}

.card-camisa-polo img {
    width: 572px;
    height: 670px;
    border-radius: 10px;
}

.card-camisa-polo button {

    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.392);
    transition: 1s ease-in-out;
}

.card-camisa-polo button:hover {
    background-color: gray;
    color: white;
}

.card-camisa-polo .botao {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Camisas estampadas secao*/

.titulo-estampadas {
    margin-top: 50px;
    margin-bottom: 35px;
}

.card-camisa-estampada {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-camisa-estampada img {
    width: 435px;
    height: 794px;
    background-position: center center; 
    border-radius: 10px;
    background-size: contain;
}

.card-camisa-estampada .card-camisa-estampada-itens:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
}

.card-camisa-estampada .card-camisa-estampada-itens:nth-child(4) img {
    background-size: contain;
    background-position: top center;
    height: 550px;
}

.card-especial-secao-estampada {
    margin-top: 20px;
}

.card-especial-secao-estampada img {
    width: 100%;
    border-radius: 10px;
}


/* SOBRE NÓS SECAO*/


.titulo-sobre {
    margin-top: 50px;
    margin-bottom: 35px;
}

.footer img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;

}

.footer__itens {
    width: 335px;
    height: 367px;
    background-color: rgba(128, 128, 128, 0.41);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}

.footer__itens + .footer__itens {
    margin-left: 20px;
}

.footer__itens h3 {
    margin-bottom: 30px;
    text-align: center;
    font-family: var(--fonte-titulo);
}

.footer__itens__tags + .footer__itens__tags {
    display: flex;
    flex-direction: row;
    margin-bottom: 58px;
    align-items: center;
}


/* Produção*/

.producao {
    text-align: center;
    font-size: 18px;
    text-shadow: 3px 3px 8px black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}





/*MEDIA QUEIRE - RESPONSIVIDADE*/

@media (max-width: 1190px) {
    .card-camisa-polo {
        grid-template-columns: 1fr;
    }

    .card-camisa-polo-imagem img {
        width: 100%;
        max-width: 400px;
        min-width: 200px;
        display: block;
        margin: auto;
    }

    .card-camisa-polo-descri {
        display: none;
    }
}

@media (max-width:1340px) {
    .card-camisa-estampada {
        grid-template-columns: 1fr;
    }

    .card-camisa-estampada-itens img {
        width: 100%;
        max-width: 600px;
        display: block;
        margin: auto;
    }
}

@media(max-width:1100px) {
    .footer__itens:nth-child(n + 2) {
        margin: 20px auto 0 auto;
    }

    .footer__itens {
        width: 100%;
        max-width: 400px;
        min-width: 300px;
    }
}

@media (max-width:395px) {
    .header img {
        display: block;
        margin: 0 auto;
        padding-top: 5px;  
    }
}


